.nav-expand-item{
    width: 315px;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    .sgr-title{
        color: #999999;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
        padding-left: 15px;
    }
    .sgr-title-item{
        background: #333333;
        height: 25px;
        font-size: 12px;
        padding-left: 15px;
        line-height: 25px;
    }
    .sgr-btn-add{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-primary{
            width: 175px;
        }
    }
    .sgr-folder-list{
        flex: auto;
        display: flex;
        flex-direction: column;
        .sgr-folder-listPanel{
            flex: auto;
            overflow: auto;
            .sgr-folder-item{
                display: flex;
                padding: 5px;
                align-items: center;
                justify-content: space-between;
                height: 50px;
                cursor: pointer;
                .sgr-project-name{
                    width: 40%;
                    text-align: center;
                }
                .sgr-project-size{
                    font-size: 14px;
                    color: #999999;
                }
                &:hover{
                    background:rgba(109, 108, 108, 0.08);
                }
            }
            .isActive {
                background: #545252 !important;
            }
        }
    }
   
}