<div class="sgr-workspace">
  <nz-tabset [nzType]="'card'" [nzSelectedIndex]="index">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate" (nzClick)='tabClick(tab)'>
      <ng-template #titleTemplate>
        <div>
          {{ tab.name }}
          <i class="anticon anticon-close" (click)="closeTab(tab)"></i>
        </div>
      </ng-template>
      <div class="sgr-workspace-type" [ngSwitch] = "selectItem.type">
        <app-sgr-workspace-folder *ngSwitchCase="'project'" [folder] = "selectItem"></app-sgr-workspace-folder>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
