.sgr-nav-list{
    background: #252526;
    display: flex;
    height: 100vh;
    .sgr-nav-list-shrink{
        width: 50px;
        background: #333333;
        .nav-link{
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .nav-folder{
            background: url("../../assets/images/folder_close.png") center no-repeat;
            &:hover{
                background: url("../../assets/images/folder_open.png") center no-repeat;
            }
        }
        .nav-folder_active {
            background: url("../../assets/images/folder_open.png") center no-repeat;
        }
        .nav-tool{
            background: url("../../assets/images/tool_close.png") center no-repeat;
            &:hover{
                background: url("../../assets/images/tool_open.png") center no-repeat;
            }
        }
        .nav-tool_active {
            background: url("../../assets/images/tool_open.png") center no-repeat;
        }
        .nav-search{
            background: url("../../assets/images/search_close.png") center no-repeat;
            &:hover{
                background: url("../../assets/images/search_open.png") center no-repeat;
            }
        }
        .nav-search_active{
                background: url("../../assets/images/search_open.png") center no-repeat;
        }
        .nav-news{
            background: url("../../assets/images/news_close.png") center no-repeat;
            &:hover{
                background: url("../../assets/images/news_open.png") center no-repeat;
            }
        }
        .nav-news_active{
                background: url("../../assets/images/news_open.png") center no-repeat;
        }
    }
}