<div class="sgr-nav-list">
  <div class="sgr-nav-list-shrink">
    <nav class="nav flex-column">
      <a class="nav-link nav-folder" href="#" [class.nav-folder_active]="isActive == 'folder' ? true : false" (click)="navSelect('folder')"></a>
      <a class="nav-link nav-tool" href="#"   [class.nav-tool_active]="isActive == 'tool' ? true : false"  (click)="navSelect('tool')"></a>
      <a class="nav-link nav-search" href="#" [class.nav-search_active]="isActive == 'search' ? true : false"  (click)="navSelect('search')"></a>
      <a class="nav-link nav-news" href="#"   [class.nav-news_active]="isActive == 'news' ? true : false"  (click)="navSelect('news')"></a>
    </nav>
  </div>
  <div class="sgr-nav-list-expand" [ngSwitch] = "selectItem">
    <div class="nav-expand-item " *ngSwitchCase="'folder'" [class.f-dn]="isShow">
      <div class="sgr-title">项目管理器</div>
      <div class="sgr-folder-add">
        <div class="sgr-title-item">添加的项目</div>
        <div class="sgr-btn-add">
          <div class="btn btn-primary" (click)="addProject()">添加项目</div>
        </div>
      </div>
      <div class="sgr-folder-list">
        <div class="sgr-title-item">项目的列表</div>
      </div>
    </div>
    <div class="nav-expand-item " *ngSwitchCase="'tool'" [class.f-dn]="isShow">2</div>
    <div class="nav-expand-item " *ngSwitchCase="'search'" [class.f-dn]="isShow">3</div>
    <div class="nav-expand-item " *ngSwitchCase="'news'" [class.f-dn]="isShow">4</div>
  </div>
</div>
