.sgr-workspace-folder{
    color:#fff;
    .sgr-folder-info{
        display: flex;
        align-items:center;
        padding-left: 30px;
        img{
            width: 128px;
            height: 128px;
        }
        .sgr-folder-infoList{
            margin-left: 30px;
            .sgr-folder-title{
                font-size: 36px;
            }
        }
        .sgr-project-describe{
            font-size: 14px;
            label {
                margin-right: 15px;
            }
            li {
                height: 30px;
                line-height: 30px;
            }
        }
    }
    .sgr-folder-detail{
        .sgr-folder-title{
            font-size: 18px;
            height: 40px;
            border-bottom: 1px solid #666;
            padding: 5px 5px 5px 10px;
        }
        .sgr-folder-content {
            padding: 15px;
            font-size: 14px;
        }
    }
}