<div class="sgr-workspace-folder">
  <div class="sgr-folder-info">
    <img src="./assets/images/default.png" alt="">
    <div class="sgr-folder-infoList">
      <div class="sgr-folder-title">sagittarius</div>
      <div class="sgr-folder-list">
        <ul class="sgr-folder-describe">
          <li><label for="">大小:</label>515B</li>
          <li><label for="">位置:</label>D:\\webDev\\angularDemo\\e2e</li>
        </ul>
        <ul class="sgr-project-describe">
            <li><label for="">作者:</label>andyxic</li>
            <li><label for="">版本:</label>0.1.0</li>
            <li><label for="">简介:</label>An Electron App</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sgr-folder-detail"></div>
</div>